<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ssd.app">

    <!-- 권한 등록 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ssd"
        android:label="@string/app_shortname"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <!-- 화면 회전 시 새로 onCreate 수행 방지 -->

            <!-- 메인 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="히스토리" />
        <activity
            android:name=".DevlistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="기기 목록" />
        <activity
            android:name=".ApplockActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="보안 설정" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="기기 관리"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".AddDeviceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="기기 추가"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".BLeListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="BLE 리스트"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <service
            android:name="ssd.app.bluetooth.BTCTemplateService"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enabled="true"></service>
        <service
            android:name=".Connection"
            android:enabled="true"
            android:exported="true"></service>

    </application>

</manifest>